<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>WebSocket Chat Example</title>

    <style>
        li { list-style: none; }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
          function showMessage(message) {
            $('#messages').append('<li>' + message)
          }

          if (!window.WebSocket) {
              if (window.MozWebSocket) {
                  window.WebSocket = window.MozWebSocket;
              } else {
                showMessage("Your browser doesn't support WebSockets")
              }
          }

          var ws = new WebSocket('ws://127.0.0.1:5000/websocket');
          ws.onopen = function(evt) {
            showMessage('Connected to chat.')
          }

          ws.onmessage = function(evt) {
            showMessage(evt.data)
          }

          ws.onclose = function(evt) {
              $('#messages').append('<li>WebSocket connection closed.</li>');
          }

          $('#send-message').submit(function() {
            var message = $('#name').val() + ": " + $('#message').val();
            showMessage(message)
            ws.send(message);
            // $('#message').val('').focus();
            return false;
          });
        });
    </script>
</head>
<body>
    <h2>WebSocket Chat Example</h2>
    <form id="send-message">
        <input id="name" type="text" value="name">
        <input id="message" type="text" value="message" />
        <input type="submit" value="Send" />
    </form>
    <div id="messages"></div>
</body>
</html>
